.browse {
    margin-top: 20px;
}

.newSearch {
    margin-top: 300px;
}

.images {
    display: inline-grid;
    grid-template-columns: auto auto auto;
}

.item {
    margin: 0 1px 0 1px;
    transition: transform .2s;
}

.item:hover {
    transform: scale(1.5);
    cursor: pointer;
}

ul {
    list-style: none;
}

a {
    margin: 0 1px 0 1px;
    transition: transform .2s;
}

a:hover {
    transform: scale(1.5);
    cursor: pointer;
}

select {
    margin-left: 10px;
}

.selectCountry {
    margin-bottom: 30px;
}

.selectGender{
    margin-bottom: 30px;;
}

input {
    margin-left: 15px;
}

label:hover {
    transform: scale(1.5);
    cursor: pointer;
}