.images {
    display: inline-grid;
    grid-template-columns: auto auto auto;
}

.item {
    margin: 0 2px 0 2px;
    transition: transform .2s;
}

.item:hover {
    transform: scale(1.5);
    cursor: pointer;
}